version: '3'

services:
  db:
    image: supabase/postgres:17.6.1.074
    container_name: realtime-db
    ports:
      - "5432:5432"
    volumes:
      - ./dev/postgres/00-supabase-schema.sql:/docker-entrypoint-initdb.d/00-supabase-schema.sql
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    environment:
      POSTGRES_HOST: /var/run/postgresql
      POSTGRES_PASSWORD: postgres
  tenant_db:
    image: supabase/postgres:17.6.1.074
    container_name: tenant-db
    ports:
      - "5433:5432"
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    environment:
      POSTGRES_HOST: /var/run/postgresql
      POSTGRES_PASSWORD: postgres
