# fly.toml file generated for realtime-demo on 2022-03-24T16:09:51+01:00

app = "realtime-demo"

kill_signal = "SIGTERM"
kill_timeout = 5
processes = []

[deploy]
  release_command = "/app/bin/realtime eval Realtime.Release.migrate"
  strategy = "bluegreen"

[env]
  DNS_NODES = "realtime-demo.internal"
  SECURE_CHANNELS = "true"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 4000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
   # should match ranch.info
    hard_limit = 16384
    soft_limit = 16384
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "30s"
    interval = "15s"
    restart_limit = 6
    timeout = "2s"
