[Unit]
Description=Supabase Realtime server

[Service]
Type=simple
ExecStart=/opt/realtime/bin/realtime start
Restart=always
RestartSec=3

# User for the build, and service
User=realtime
EnvironmentFile=/etc/realtime/realtime.env

# Not specified in the supabase server docs but startup will fail if the HOME environmental
# variable is not set.
Environment="HOME=/home/realtime"

StandardOutput=file:/var/log/realtime.stdout
StandardError=file:/var/log/realtime.error
Slice=services.slice

[Install]
WantedBy=multi-user.target
