# Used for general services grouping for easy visibility when running
#    systemctl status
# See http://archive.vn/94IGa for an in depth article on systemd slices
[Unit]
Description=Slice used for Supabase realtime server
Before=slices.target
