 <h1>Supabase Realtime</h1>
 <h2>Listen to PostgreSQL changes in realtime over websockets.</h2>
 
 <div>
    <p>Server time is: <%= @server_time %></p>
</div>

<div>
    <p>Node: <%= Node.self() %></p>
</div>