name: Tests
on:
  pull_request:
    paths:
      - "lib/**"
      - "test/**"
      - "config/**"
      - "priv/**"
      - "assets/**"
      - "rel/**"
      - "mix.exs"
      - "Dockerfile"
      - "run.sh"
      - ".github/workflows/tests.yml"

  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  MIX_ENV: test
  POSTGRES_IMAGE: supabase/postgres:17.6.1.074

jobs:
  tests:
    name: Tests (Partition ${{ matrix.partition }})
    runs-on: blacksmith-8vcpu-ubuntu-2404
    strategy:
      fail-fast: false
      matrix:
        partition: [1, 2, 3, 4]

    steps:
      - uses: actions/checkout@v6
      - name: Setup elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: 27.x # Define the OTP version [required]
          elixir-version: 1.18.x # Define the elixir version [required]
      - name: Cache Mix
        uses: actions/cache@v5
        with:
          path: |
            deps
            _build
          key: ${{ github.workflow }}-${{ runner.os }}-mix-${{ env.elixir }}-${{ env.otp }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ github.workflow }}-${{ runner.os }}-mix-${{ env.elixir }}-${{ env.otp }}-

      - name: Cache Docker images
        uses: actions/cache@v5
        id: docker-cache
        with:
          path: /tmp/docker-images
          key: docker-images-zstd-${{ env.POSTGRES_IMAGE }}
      - name: Load Docker images from cache
        if: steps.docker-cache.outputs.cache-hit == 'true'
        run: zstd -d --stdout /tmp/docker-images/postgres.tar.zst | docker image load
      - name: Pull and save Docker images
        if: steps.docker-cache.outputs.cache-hit != 'true'
        run: |
          docker pull ${{ env.POSTGRES_IMAGE }}
          mkdir -p /tmp/docker-images
          docker image save ${{ env.POSTGRES_IMAGE }} | zstd -T0 -o /tmp/docker-images/postgres.tar.zst

      - name: Install dependencies
        run: mix deps.get
      - name: Set up Postgres
        run: docker compose -f docker-compose.dbs.yml up -d
      - name: Start epmd
        run: epmd -daemon
      - name: Run tests
        run: MIX_TEST_PARTITION=${{ matrix.partition }} mix coveralls.lcov --partitions 4
      - name: Upload coverage
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: partition-${{ matrix.partition }}
          parallel: true
          file: cover/lcov.info

  coverage:
    name: Merge Coverage
    needs: tests
    if: ${{ needs.tests.result == 'success' }}
    runs-on: blacksmith-8vcpu-ubuntu-2404
    steps:
      - uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          carryforward: "partition-1,partition-2,partition-3,partition-4"
